<p-panel>
  <ng-template pTemplate="header">
    <i class="pi pi-truck"></i><label> {{truck.id ? ' Edit' : 'New'}} truck </label>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="title-label">Chassis Number</div>
        <input type="text" pInputText [(ngModel)]="truck.chassisNumber" [style]="{'width': '100%'}">
      </div>
      <br/>
      <div class="p-col-12">
        <div class="title-label">License Plate</div>
        <input type="text" pInputText [(ngModel)]="truck.licensePlate" [style]="{'width': '100%'}">
      </div>
      <br/>
      <div class="p-col-12">
        <div class="title-label">Container Volume</div>
        <input type="number" pInputText [(ngModel)]="truck.containerVolume" [style]="{'width': '100%'}">
      </div>
    </div>
  </ng-template>

  <p-footer>
    <div style="text-align: end">
      <button style="margin-right: 0.3rem; background: #466FB5;border-color: #466FB5;box-shadow: #B5C5E1"
              pButton label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="ref.close()"></button>
      <button label="Save" icon="pi pi-check" type="button" pButton (click)="saveTruck()"></button>
    </div>
  </p-footer>
</p-panel>


